*{
  margin:0;
  padding: 0;
}
.movie-row{
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.movie-card{
  background-color: #000000d0;
  color: white;
  width: 20%;
  overflow: hidden;
  text-align: center;
  border-radius: 15px;
  padding: 15px 0;
  margin: 15px;
  height: 40vh;
}
.movie-card:hover{
  background-color: rgb(53, 147, 53);
  cursor: pointer;
}
