*{
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.news-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.article-card{
  border: 1px solid black;
  box-sizing: border-box;
  overflow: hidden;
  width: 20%;
  margin: 1%;
}
.single-article{
  border: 1px solid black;
  width: 80%;
  margin: auto;
}
a, .header{
  text-decoration: none;
  color: black;
}