.box{
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 15px;
    margin: 15px;
    display: flex;
    animation: fadeInOpacity 1s;;
}
@keyframes fadeInOpacity {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
    }
.boxArea{
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    width: 90%;
}